* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(139,240,249,1) 50%, rgba(146,247,185,1) 100%);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.carrusel {
    width: 60%;
    display: flex;
    overflow: scroll;
    gap: 3%;
    margin-top: 80px;
    border: 5px solid #f5f5f5;
    border-radius: 30px;
    padding: 20px;    
    box-shadow: 10px 10px 5px 0px #f5f5f5;
    background: #f5f5f5;
    overflow-y: hidden;
    
}

img {
    width: 400px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin: 5px;

}
h2 {
    text-align: left;
    color: #ffffff;
    font-size: 40px;
    font-weight: 30px;
    letter-spacing: 2px;
    padding: 10px;
    margin: 10px;
    transition: 0.4s;
    cursor: pointer
    
}
h2:hover {
   color: #9d9e6b;

}
.container h2 {
    padding-top: 50px;
}
/* 9d9e6b */